* {
    box-sizing: border-box;
}
body {
    margin: 0; 
    font-family: Montserrat, 'san-serif';
    background-color: #171a1d;
    color: white;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;
}
input,
select {
    padding: .5em;
    font-size: 1.2rem;
    background-color: #515356;
    color: #cbcccd;
}
select {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn {
    background-color: #ff5656;
    color: ghostwhite;
    padding: .6em 2em ;
    border: none;
    font-size: 1.2rem;
}
.btn--main {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn:focus {
    background: linear-gradient(to right, blue, #3db5eb);
    border: none;
}
.btn:disabled {
    background: linear-gradient(to right, hsla(0, 100%, 50%, 0.5), rgba(255, 81, 0, 0.5));
}
.wrapper__top {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 200px;
    padding-right: .75em;
}
.menu {
    display: flex;
}
.menu__logo {
    width: 50px;
}
ul {
    padding: 0;
}
.menu > li {
    margin: 1em;
    list-style-type: none;
}
.menu a {
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
}
.wrapper__middle {
    margin: 0 auto;
}
.middle__uri {

}
.wrapper__middle--labels {
    position: relative;
}
/* START OF LABELS */
.middle__uri--top {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    max-width: 600px;
}
.prefix-label {
    grid-column: span 5;
}
.uri-label {
    grid-column: span 9;
}
.uriNumber-label {
    grid-column: span 4;
}
.counterText {
    font-family: Montserrat, 'san-serif';
    letter-spacing: 8px;
    text-align: center;
    font-size: 5rem;
    color: hsl(0, 0%, 50%);
    margin: 0;
}
/* END OF LABELS */

.middle__uri--middle {
    display: flex;
}
.middle__uri label,
.middle__uri--top p {
    font-size: 1.3rem;
    font-family: Montserrat;
}
#uriNumber {
    width: 100px;
}
.warning-text {
    color: #ff5656;
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: .5px;
    max-width: 600px;
    font-size: .9rem;
}
#uri-text {
  
}
.wrapper__bottom {
    display: flex;
    
}

/* start of aside */
.aside--left{
    position: absolute;
    top: 35%;
    left: 5%;
    border: 2px solid hsl(0, 0%, 80%);
    padding: 1em;
    border-radius: 9px;
}
.aside li {
    line-height: 2em;
    margin-left: 1em;
}
a {
    color: #ff5656;

}
.aside--right {
    position: absolute;
    top: 35%;
    right: 5%;
    border: 2px solid hsl(0, 0%, 80%);
    padding: 1em;
    border-radius: 9px;
    max-width: 300px;
}
.aside--right li {
    /* overflow:auto; */
    word-wrap:break-word;
}
.uriTextEl {
    width: 100%;
    word-wrap: break-word;
}

@media (max-width: 1428px) {
    .aside--right,
    .aside--left {
        position: static;
        display: block;
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
}
@media (max-width: 660px) {
    .middle__uri--top{
        display: block;
        width: 300px;
    }
    .menu li {
        display: none;
    }
    .middle__uri--middle {
        flex-wrap: wrap;
    }
    select {
        border-radius: 0px;
    }
    .btn--main {
        display: block;
        border-radius: 0px;
    }
}
@media (max-width: 320px) {
    .middle__uri--middle{
        display: block;
        max-width: 320px;
    }
    select,
    input,
    #uriNumber,
    .btn--main {
        width: 90%;
    }
    .counterText {
        font-size: 4rem;
    }
    .wrapper {
        height: 85vh;
    }
}