* {
    box-sizing: border-box;
}
body {
    margin: 0; 
    font-family: Montserrat, 'san-serif';
    background-color: ghostwhite; 
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;
}
input {
    padding: .5em;
    font-size: 1.2rem;
}
.btn {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.877), rgba(255, 81, 0, 0.479));
    color: ghostwhite;
    padding: .6em 2em ;
    border: none;
    font-size: 1.2rem;
}

.btn:focus {
    background: linear-gradient(to right, blue, #3db5eb);
    border: none;
    outline: 1px dashed black;
    outline-offset: .5em;
}
.btn:disabled {
    background: linear-gradient(to right, hsla(0, 100%, 50%, 0.5), rgba(255, 81, 0, 0.5));
}
.wrapper__top {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 200px;
    padding-right: .75em;
}
.menu {
    display: flex;
}
.menu__logo {
    width: 50px;
}
ul {
    padding: 0;
}
.menu > li {
    margin: 1em;
    list-style-type: none;
}
.menu a {
    color: goldenrod;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
}
.wrapper__middle {
    margin: 0 auto;
}
.middle__uri {

}
.middle__uri--top {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    max-width: 600px;
}
.prefix-label {
    grid-column: span 3;
}
.uri-label {
    grid-column: span 9;
}
.uriNumber-label {
    grid-column: span 4;
    padding-left: 10px;
}
#counterText {
    font-family: Montserrat, 'san-serif';
    letter-spacing: 1px;
    margin: 0;
    grid-column: span 1;
}
.middle__uri--middle {
    display: flex;
}
.middle__uri label,
.middle__uri--top p {
    font-size: 1.3rem;
    font-family: Montserrat;
}
#uriNumber {
    width: 100px;
}
.warning-text {
    color: #ff5656;
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: .5px;
    max-width: 600px;
    font-size: .9rem;
}
#uri-text {
  
}
.wrapper__bottom {
    display: flex;
    
}

/* start of aside */
.aside--left{
    position: absolute;
    top: 35%;
    left: 5%;
    border: 2px solid hsl(0, 0%, 80%);
    padding: 1em;
    border-radius: 9px;
}
.aside li {
    line-height: 2em;
}
a {
    color: #ff5656;

}
.aside--right {
    position: absolute;
    top: 35%;
    right: 5%;
    border: 2px solid hsl(0, 0%, 80%);
    padding: 1em;
    border-radius: 9px;
    max-width: 300px;
}
.aside--right li {
    /* overflow:auto; */
    word-wrap:break-word;
}
